@using CVPROJECTMVC.Models.Entity
@model List<YeteneklerTbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string renk = "";}
@{string labelRenk = "";}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yetenek Ekle</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetkinlik</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Oran >= 0 && item.Oran <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                                labelRenk = "badge bg-danger";
                                            }
                                            if (item.Oran >= 51 && item.Oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                labelRenk = "badge bg-warning";
                                            }
                                            if (item.Oran >= 71 && item.Oran <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                                labelRenk = "badge bg-primary";
                                            }
                                            if (item.Oran >= 85 && item.Oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                labelRenk = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Workflow</td>

                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width:
                                                       @item.Oran%"></div>

                                                    </div>
                                                </td>
                                                <td><span class="badge @labelRenk">@item.Oran%</span></td>
                                                <td>
                                                    <a href="/Yetenek/YetenekGetir/@item.ID" class="btn btn-info btn-sm">
                                                        <i class="fas fa-pencil-alt"></i>Güncelle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/Yetenek/YetenekSil/@item.ID" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash"></i>Sil
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Yetenek Ekleme Penceresi</h2>
                    </div>
                    <form method="post" action="/Yetenek/YetenekEkle">
                        <br />
                        <input type="text" name="Workflow" class="form-control" placeholder="Yeteneği giriniz" />
                        <br />
                        <input type="text" name="Oran" class="form-control" placeholder="Derecesini giriniz" />
                        <br />
                        <button class="btn btn-info">Yeteneği Gir</button>
                        <br /><br />
                    </form>

                </div>
            </div>
        </div>
        <!-- /.content -->
    </div>
</body>
</html>